body{
  background-color:  #e0b46d;
  
}

.navigation{
  text-align: center;
  margin:5px 0px 10px 0px;  

}

.selectShow{
  width: 120px;
  height: 50px;  
}
.selectEpisodes{
  width: 120px;
  height: 50px;
}
.search{
  width: 120px;
  height: 50px;
}

.backBtn {
  text-align: center;
}

.results{
 margin: 5px 5px;
}

.col-md-4{
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 10px solid #e0b46d;
  border-radius: 5x;
  background-color: rgb(88, 77, 77);
 }

.col-md-4 h4{
  text-align: center;
  padding: 20px;
  margin: 10px;
  font-size: 1.5rem;
  color: #f5daaf;
  border: 2px solid #e0b46d;
  border-radius: 7px;
}

.col-md-4 p {
  text-align:left;
  font-size: 20px;
  margin: 10px 10px 50px 25px;
  color: white;
}

.col-md-4 h6{
  margin: 10px;
  color: rgb(230, 208, 176);
  border: 2px solid #e0b46d;
  border-radius: 7px;
}

