body{
  background-color: rgb(235, 198, 206);
 
}

.navigation{
  display: flex;
  margin:5px 0px 20px 130px; 
  width: 650px;
  height: 50px;
}


.form-control{
  width: auto;
}

#root {
  color: black;
  background:white
  
}

.col-md-4{
  text-align: center;
  border: 25px solid rgb(158, 178, 189);
  border-radius: 5x;
 
}


.col-md-4 h4{
  
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-size: 1.5rem;
    color: rgb(207, 118, 16);
    border: 2px solid rgb(37, 202, 31);
    border-radius: 7px;

}

.col-md-4 p {
  text-align:left;
  margin: 10px 10px 50px 25px;
}

/* MEDIA SCREEN SIZES */

/* TABLET VERSION */
/* @media (max-width: 600px) {

} */

